/*
Colores:
-azul		#5F95B5
-a.claro	#89C1D4
-verde		#58C456
-v.claro	#9FEAA7
-blanco		#FEFFFF
-gris		#EFEFEF
*/


/*GENERALES*/
	@font-face {
	font-family: 'MeteoconsRegular';
	src: url('meteocons-webfont.eot');
	src: url('meteocons-webfont.eot?#iefix') format('embedded-opentype'),
	url('meteocons-webfont.woff') format('woff'),
	url('meteocons-webfont.ttf') format('truetype'),
	url('meteocons-webfont.svg#MeteoconsRegular') format('svg');
	font-weight: normal;
	font-style: normal;
	}

	body{
		min-width: 1200px; 
		font-family: 'Exo', sans-serif;
		background-color: #FEFFFF;
	}
	a{
		color: white;
		text-decoration: none;
		}  a:hover{
			color: #9FEAA7;
			}
			.login:hover, .new:hover, .logout:hover{
				color: black;
			}

	body::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
		background-color: #F5F5F5;
		}

	body::-webkit-scrollbar {
		width: 12px;
		background-color: #F5F5F5;
		}

	body::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #89C1D4;
		}

	#scroll::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
		border-radius: 10px;
		background-color: #F5F5F5;
		}

	#scroll::-webkit-scrollbar {
		width: 12px;
		background-color: #F5F5F5;
		}

	#scroll::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
		background-color: #9FEAA7;
		}

/*____________REGISTRO_________________________________________________________________*/


	.registroCont{
		z-index: 100;
		position: absolute;
	    top: 0;
	    left: 0; 
	    right: 0;
	    bottom: 0;
	    height: 40px;
	    background-color: #EFEFEF;
		}
	.linea{
		display: block;
		height: 5px;
		background-color: #5F95B5
		}
	.registro{
		margin: 3px auto 0px auto;
		display: block;
		height: 40px;
		width: 1200px;
		} 
		.usuario{
			height: 35px;
			width: 200px;
			float: right;
			}
			.usuario img{
				float: left;
				width: 35px;
				height: 35px;
			}
			.usuario a{
				float: left;
				margin-top: 5px;
				margin-left: 5px;			
				text-align: center;
				text-decoration: none;
				color: black;
			}
		.botones{
			height: 35px;
			width: 250px;
			float: right;
			padding-top: 5px;
			text-align: center;
			}
			.login, .new , .logout, .newNoticia,.admon{
				height: 24px;
				width: 100px;
				padding: 4px 10px 4px 10px;
				margin: 0px 10px;
				font-family: 'Exo', sans-serif;
				font-size: 10pt;
				background-color: #9FEAA7;
				border: none;
				border-radius: 20px;
				text-align: center;
				text-decoration: none;
				color: black;
			}
			
	/*____________REGISTRO Oculto__________________________________________________________*/
	.sesionCont{

		z-index: 110;
		position: absolute;
	    top: 0;
	    left: 58%; 
	    right: 0;
	    bottom: 0;
	    height: 200px;
	    width: 400px;
		}.sesion{
			margin: 0px auto 0px auto;		
			height: 200px;
			width:  400px;
		    background-color: #9FEAA7;
		    border-radius: 0 0 30px 30px;
			box-shadow:0px 4px 3px rgba(0,0,0,.5);
		}
	.formLog{
		position: relative;
		top: 25px;
	    left: 14%; 
		height: 150px;
		width:  340px;
		}
		.correo, .contra{
			height: 28px;
			width: 280px;
			padding: 3px;
			margin-bottom: -15px;
			border: 3px solid white;
			border-radius: 20px;
			font-size: 13pt;		
			font-family: 'Exo', sans-serif;
		}
		.contra{-webkit-text-security: square;}
		.f1, .f2{
			position: relative;
		    top: -27px;
		    left: 295px; 
			height: 30px; width: 30px;
		}
		.flechita1, .flechita2{
			height: 30px; width: 30px;
		    background-image: url("../img/wrong.png");
		    border:2px solid white;
		    border-radius: 70px;  
		    display: none;
		}
		.oksesion{
			margin-left: 25%;
			margin-top: 0px;
			height: 25px;
			width: 120px;
			padding: 3px;
			border: none;
			border-radius: 20px;
			font-size: 12pt;		
			font-family: 'Exo', sans-serif;
			background-color: #89C1D4;
			cursor: pointer;
		}
		.cancelsesion{
			z-index: 200;
			margin-left: 350px;
			margin-top: 16px;
			height: 30px;
			width: 30px;
			padding: 3px;
			border: 2px solid white;
			border-radius: 20px;
			font-size: 15px;		
			font-family: 'Exo', sans-serif;
			background-color: white;
			color: black;
			cursor: pointer;
		}

/*____________PARTE DEL LOGO___________________________________________________________*/
	.cosasCont{
		z-index: 100;
		position: absolute;
	    top: 40px;
	    left: 0; 
	    right: 0;
	    bottom: 0;
	    height: 207px;
		background-color: #EFEFEF;
		}.cosas{
			margin: 0px auto 0px auto;
			display: block;
			height: 207px;
			width: 1200px;
		}
	.climaCont, .buscarContT{
		width: 300px;
		text-align: center;
		}
	.lugar, .fecha{
		font-size: 15pt;
		height: 60px;
		} .lugar p, .fecha p {
			margin-top: 5px;
		}
	.elclima{
		font-size: 15pt;
		height: 87px;
		}
		.elclima a{
			text-decoration: none;
		}
		.elclima p{
			float: right;
			margin: 25px 90px 0 0;
		}
	.icon:before {
		float: left;
		margin-left: 90px;
		font-size: 50pt;
		font-family: 'MeteoconsRegular';
		content: attr(data-icon);
		}
	.logoCont{
		width: 600px;
		text-align: center;
		}.logo{
			height: 145px;
			width: 558px;
		} .logoCont p {
			font-size: 20pt;
			margin: 2px auto 0 auto;
		}
	.buscarCont {
		float: right;
	 	height: 45px;
		width:  300px;
		padding-top: 7px;
		}.buscarAlgo{
		float: left;
		font-family: 'Exo', sans-serif;
		font-size: 11pt;
		height: 30px;
		width: 245px;
		border: none;
		border-radius: 30px 0 0 30px;
		padding-left: 5px;
		padding-right: 5px;
		}
		.buscarOk{	
		cursor: pointer;
		height: 32px;
		width: 45px;
		background-color: #58C456;
		border: none;
		border-radius: 0 30px 30px 0;
		padding-left: 5px;
		padding-right: 5px;
		background-image: url('../img/lupa.png');
		background-repeat: no-repeat;
		background-position: center;
		}

/*____________HEADER___________________________________________________________________*/
	.headerContMenu{
	z-index: 100;
	position: absolute;
    top: 247px;
    left: 0; 
    right: 0;
    bottom: 0;
    background-color: #5F95B5;
	height: 45px;
	width: 100%;
	}
	.headerMenu{
		display: block;
		margin: 0px auto 0px auto;
		height: 45px;
		width: 1200px;
	}
	.headerMenu table {
	 	font-size: 15pt;
	 	height: 45px;
		width: 1200px;
		color: white;
	  	text-shadow:   	0 0 5px rgba(0,0,0,.1),
	              		0 1px 3px rgba(0,0,0,.3),
	               		0 3px 5px rgba(0,0,0,.2),
	               		0 5px 10px rgba(0,0,0,.25),
	               		0 10px 10px rgba(0,0,0,.2),
	               		0 20px 20px rgba(0,0,0,.15);
		}
		.headerMenu .home{
			background-color: #89C1D4;
			border-radius: 30px;
			height: 30px;
		}
		.headerMenu td {
		padding: 0 6px 0 6px;
		text-align: center;
		} 

	.menu-fixed {
		position:fixed;
		z-index: 100;
	    top: 0;
	    left: 0; 
	    right: 0;
	    bottom: 0;
	    background-color: #5F95B5;
		height: 45px;
		width: 100%;
		box-shadow:0px 4px 3px rgba(0,0,0,.5);
	}

/*____________FOOTER___________________________________________________________________*/
	.piedepagCont{
		position: absolute;
		top: 1300px;
		left: 0; right: 0;
		bottom: 0;
		height: 300px;
		width: 100%;
		background-color: #5F95B5;
	}
	.piedepag{
		height: 300px;
		width: 1200px;
		margin: 0px auto;
	}
	hr{
		border: 2px solid white;
		box-shadow:0px 4px 3px rgba(0,0,0,.5);
	}
	.piedepag section {
		display: table;
		height: 255px;
		width: 1200px;
		color: white;
		text-shadow:   	0 0 5px rgba(0,0,0,.1),
	              		0 1px 3px rgba(0,0,0,.3),
	               		0 3px 5px rgba(0,0,0,.2),
	               		0 5px 10px rgba(0,0,0,.25),
	               		0 10px 10px rgba(0,0,0,.2),
	               		0 20px 20px rgba(0,0,0,.15);
		}
		.piedepag article{
			display:table-cell;
			padding-top: 6px;
			width: 300px;
			font-size: 13pt;
		}
	.piedepag ul{
		margin-top: 0px;
		list-style-type:none;
	}
	.tituloli{
		font-weight: bold;
		text-align: center;
	}

	.lilo{margin-left: 100px; margin-bottom: 10px;}

	.fb,.tt,.u2 {
		display:block; 
		height: 50px; width: 50px; 
	    background-position: center top;
	    background-repeat: no-repeat;
	}
	.fb{background-image: url('../img/fb.png');}
	.tt{background-image: url('../img/twit.png');}
	.u2{background-image: url('../img/u2.png');}

		 .fb:hover{background-image: url('../img/fbh.png');}
		 .tt:hover{background-image: url('../img/twith.png');}
		 .u2:hover{background-image: url('../img/u2h.png');}

/*____________IR ARRIBA________________________________________________________________*/
 	#irarriba{
        padding: 0px;
        position: fixed;
        bottom: 40px;
        right: 70px;
        width: 70px;
        display: none;
	    } #irarriba a{
	    	text-decoration: none;
	    } #irarriba img{    	
	        right: 70px;
	        width: 70px;
	    }

/*____________INDEX____________________________________________________________________*/
	.anunciosCont{
		position: absolute;
	    top: 310px;
	    left: 0; 
	    right: 0;
	    bottom: 0;
	    height: 1000px;
		}
		.anuncios{
			margin: 0px auto 5px auto;
		    width: 1200px;
		}
		.rowos{
			margin-bottom: 25px;
		}
		.unaNoti{
			display: inline-block;
			margin: 0px 28px;
		}
		.imgAnun{

		height: 300px; width: 540px;
		-webkit-box-shadow: inset 0px 0px 37px 0px rgba(54,51,54,1);
				-moz-box-shadow: inset 0px 0px 37px 0px rgba(54,51,54,1);
				box-shadow: inset 0px 0px 37px 0px rgba(54,51,54,1);
		}

/*____________NEW_____UPDATE____________________________________________________________*/
	.datosCont{
	position: relative;
    top: 305px;
    left: 0; 
    right: 0;
    bottom: 0;
	}.datos{
	display: block;
	margin: 0px auto 0px auto;
    width: 1200px;
	}
	.formNew, .formEdit{		
		height: 965px;
		width: 1200px;
		margin: 0px auto 0px auto;
		padding: 5px;
		background-color: white;
		border-radius: 50px;
		background-color: #58C456;		
		box-shadow:0px 4px 3px rgba(0,0,0,.5);
	}
	.descrip{
		float: left;
		height: 800px;
		width: 500px;
		padding-top: 310px;
		}
		.descrip h3{
			height: 45px;
			font-size: 15pt;
			font-family: 'Exo', sans-serif;
			color: black;
			padding: 3px;			
			margin: 15px 10px 0px 0px;
			text-align: right;
			cursor: default;
		}
	.textos{
		float: right;
		height: 800px;
		width: 700px;
		padding-top: 330px;
		}
		.textos input, .gender, .type{
			height: 45px;
			width: 450px;
			font-size: 15pt;
			font-family: 'Exo', sans-serif;
			border: 2px solid white;
			border-radius: 30px;
			color: black;
			padding: 3px;
			margin-bottom: 17px;
		}
		.contraa{ -webkit-text-security: square;}
	.f3{
		float: right;
		margin: 2px 195px 0 0;
		height: 40px; width: 40px;
		}
		.flechita3,.flechita4,.flechita5,.flechita6,
		.flechita7,.flechita8,.flechita9,.flechita10{
			height: 40px; width: 40px;
		    background-image: url("../img/wrong.png");
		    background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 50%;
		    border:2px solid white;
		    border-radius: 70px;  
		    display: none;
		}
	.fotito2{
		position: absolute;
	    top: 0;
	    left: 0; 
	    right: 0;
	    bottom: 0;
		height: 260px;
		width: 255px;
		margin: 0 auto;
		}
		.coso1{
			display: block;
			float: left;
			}
			.des{	
				position:relative;	
				color: white;
				font-size: 15pt;		
				font-family: 'Exo', sans-serif;
				text-align: center;
			}

		.coso{
			position: relative;
			 top: 0;
		    left: 0; 
		    right: 0;
		    bottom: 0;				
			display: block;		
			height: 260px;
			width: 260px;
			}			
			.uploader {
				position:relative;
				 top: 0;
			    left: 0; 
			    right: 0;
			    bottom: 0;					
				overflow:hidden; 
				height: 250px;
				width: 250px;
				background:transparent; 
				border:5px dashed white;
				border-radius: 130px;
			}

			#filePhoto{
			    position:absolute;
			    width:250px;
			    height:250px;
			     top: 0;
		    left: 0; 
		    right: 0;
		    bottom: 0;	
			    z-index:2;
			    opacity:0;
			    cursor:pointer;
				border-radius: 130px;
			}
			.uploader img{
			    position:absolute;
			    width:250px;
			    height:250px;
			    top:-1px;
			    left:-1px;
			    z-index:1;
			    border:none;
				border-radius: 130px;
			}
	
	.btnAcept{
		position: absolute;
	    top: 900px;
	    left: 47%; 
	    right: 0;
	    bottom: 0;
		height: 30px;
		width: 120px;
		}
		.oknew, .okedit{
		height: 33px;
		width: 120px;
		padding: 3px;
		border: 2px solid white;
		border-radius: 20px;
		font-size: 15pt;		
		font-family: 'Exo', sans-serif;
		background-color: #89C1D4;
		cursor: pointer;
	}


/*____________PERFIL___________________________________________________________________*/
	.datosCont{
	position: absolute;
    top: 305px;
    left: 0; 
    right: 0;
    bottom: 0;
	height: 820px;
	}.datos{
		display: block;
		margin: 0px auto 0px auto;
	    height: 820px;
	    width: 1200px;    
		padding: 5px;
		border-radius: 50px;
		background-color: #58C456;		
		box-shadow:0px 4px 3px rgba(0,0,0,.5);
	}
	.fotito{
		position:absolute;  
		top: 20px;
	    left: 300px; 
		height: 260px;
		width: 260px;
			}.fotito img{
			    width:250px;
			    height:250px;
			    border:none;
				border-radius: 130px;		
				box-shadow:0px 4px 3px rgba(0,0,0,.5);
			}

	.alldata {
		height: 780px; width: 1155px;
		margin: 20px auto;
		}
		.alldata hr{			
			border: 1px solid white;
			box-shadow:0px 2px 0px rgba(0,0,0,.5);
		}
		.alldata li, .alldata h3{
			color: white;
				text-shadow:   	0 0 5px rgba(0,0,0,.1),
	              		0 1px 3px rgba(0,0,0,.3),
	               		0 3px 5px rgba(0,0,0,.2),
	               		0 5px 10px rgba(0,0,0,.25),
	               		0 10px 10px rgba(0,0,0,.2),
	               		0 20px 20px rgba(0,0,0,.15);
		}
		.cuadro1{
			height: 245px; width: 500px;
			margin: 20px 5px 20px 400px;
			}
			.cuadro1 ul{
			font-size: 18pt;		
			list-style-type:none;
			}
			.cuadro1 li {
			margin-bottom: 20px;
			}
		.cuadro2, .cuadro3{
			height: 250px; width: 1155px;
			}
			.cuadro2 h3, .cuadro3 h3{
				font-size: 15pt;
				margin: 5px auto 0px auto;
				text-align: center;
			}
			.cuadro2 article, .cuadro3 article{
				display: inline-block;
				height: 205px; width: 285px;

				-webkit-box-shadow: inset 0px 0px 37px 0px rgba(54,51,54,1);
				-moz-box-shadow: inset 0px 0px 37px 0px rgba(54,51,54,1);
				box-shadow: inset 0px 0px 37px 0px rgba(54,51,54,1);

			}

	.hacerNoti{
		position: absolute;
		top: 100px;
		left: 80%;
		height: 70px; width: 70px;
	}
	.editPro{
		position: absolute;
		top: 20px;
		left: 80%;
		height: 70px; width: 70px;
	}
	.hacerNoti:hover, .editPRo:hover{
		transform: scale(1.05);
	}
	.hacerNoti img, .editPRo img{
		display: block;
		margin: 0 auto;
		height: 70px; width:  70px;
	}

/*____________NOTICIAS_________________________________________________________________*/
	.notiCont{
	position: absolute;
    top: 300px;
    left: 0; 
    right: 0;
    bottom: 0;
	}.noti{
		margin: 0px auto 0px auto;
		display: block;
		width: 1200px;
	    height: 950px;
	    overflow:scroll;
	    overflow-x: hidden;		
	}
		.laNoti{
			display: inline-block;
			margin: 10px 5px;
			width: 578px;
			height: 300px;
			background-image: url('../img/noti2.jpg');
			border-radius: 20px;
		}
		 .laNoti:hover{
		 	-webkit-box-shadow: inset 0px 0px 164px 23px rgba(255,255,255,1);
			-moz-box-shadow: inset 0px 0px 164px 23px rgba(255,255,255,1);
			box-shadow: inset 0px 0px 164px 23px rgba(255,255,255,1);
		 }
		 .laNoti h4, .laNoti p{
		 	width: 578px;
		 	text-shadow:   	0 0 5px rgba(0,0,0,.1),
	              		0 1px 3px rgba(0,0,0,.3),
	               		0 3px 5px rgba(0,0,0,.2),
	               		0 5px 10px rgba(0,0,0,.25),
	               		0 10px 10px rgba(0,0,0,.2),
	               		0 20px 20px rgba(0,0,0,.15);
		 }
		 .laNoti h4{
		 	text-align: center;
		 	font-size: 20pt;
		 	height: 30px;
		 }
		 .laNoti p{
		 	text-align: center;
		 	font-size: 15pt;
		 	height: 270px;
		 }

/*____________NOTICIA SOLA_____________________________________________________________*/

	.lanoticia{
	position: absolute;
    top: 300px;
    left: 0; 
    right: 0;
    bottom: 0;
    height: 985px;
	}

	.lanotiCont{
		margin: 0px auto 0px auto;
		display: block;
		width: 1200px;
	    max-height: 980px;
	    overflow:scroll;
	    overflow-x: hidden;
	}
	.Noticia{
		float: left;
		display: block;
		width: 570px;
	    background-color: #efefef;
		text-align: center;
		margin: 0 auto;
		padding: 15px;
		}
		.textoNoti{text-align: justify;}
		.textoNoti h4 {text-align: right;}
		.Noticia img{width: 550px;}

		.imglaco{
			float: right;
			height: 70px; width: 70px;
			}
			.imglaco:hover{transform: scale(1.05);}
			.imglaco img{
				height: 60px; width: 60px;
			}

	.Commentar{
		float: right;
		display: block;
		width: 585px;
	    background-color: #fff;
		margin: 0 auto;
		}
		.Comentt{
			 width: 550px;
			 height: 80px;
			 margin: 5px auto;
			 text-align: center;
			}
			.fotoComent{float: left;}
				.fotoComent img {width: 63px; height: 63px;}
			.coment{ 
				width: 480px;	
				float: right;
				padding-top: 13px;				
			 	border-radius: 0px 30px 30px 0px;
			 	background-color: #89C1D4; 
				}
				.coment input {
					height: 30px;
					width: 350px;
					font-size: 15pt;
					font-family: 'Exo', sans-serif;
					border: 1px solid white;
					border-radius: 20px;
					color: black;
					margin-bottom: 17px;
				}
				.coment button{
					height: 33px;
					width: 100px;
					padding: 3px;
					border: 2px solid white;
					border-radius: 20px;
					font-size: 15pt;		
					font-family: 'Exo', sans-serif;
					background-color: #58C456;
					cursor: pointer;
				}

	.Comentarios{
		position: relative;		
		margin: 15px;
		}
		.Commentar ul{
			text-decoration: none;
			list-style:none;
			padding: 0;
			}
		.unComent{
			margin: 5px;
			background-color: #89C1D4;
			border-radius: 0px 20px;
			}
			.unComent p{height: 70px;}
			.btnComent{text-align: right;}
			.btnComent button{
					height: 27px;
					width: 80px;
					margin: 7px;
					padding: 3px;
					border: none;
					border-radius: 20px;
					font-size: 13pt;		
					font-family: 'Exo', sans-serif;
					background-color: #58C456;
					cursor: pointer;
			}
		.unComentenComent{
			margin: 5px 0 5px 25px;
			background-color: #89C1D4;
			}
			.unComentenComent p{height: 70px;}

	.Comentt2, .Comentt3{
			 width: 550px;
			 height: 80px;
			 margin: 0 auto;
			 text-align: center;
			}
			.coment2, .coment3{ 	
				padding-top: 13px;			
				}
				.coment2 input, .coment3 input {
					height: 25px;
					width: 300px;
					font-size: 13pt;
					font-family: 'Exo', sans-serif;
					border: 1px solid white;
					border-radius: 20px;
					color: black;
					margin-bottom: 17px;
				}
				.coment2 button, .coment3 button{
					height: 30px;
					width: 80;
					padding: 3px;
					border: 1px solid white;
					border-radius: 20px;
					font-size: 13pt;		
					font-family: 'Exo', sans-serif;
					background-color: #58C456;
					cursor: pointer;
				}

/*____________NEW NOTICIA______________________________________________________________*/
	.datosNN{
		position: absolute;
	    top: 155px;
	    left: 0; 
	    right: 0;
	    bottom: 0;
	}
	.datosNN{
		display: block;
		margin: 0px auto;
	    width: 1200px;
		}
	.formNN{		
		height: 965px;
		width: 1200px;
		margin: 0px auto;
		padding: 5px;
		background-color: white;
		border-radius: 50px;
		background-color: #58C456;		
		box-shadow:0px 4px 3px rgba(0,0,0,.5);
		}
	
		.dataNN{ 
				padding: 30px 30px 0 30px;
				margin: 0;
				width: 415px;
				display: inline-block;
				}
				.dataNN h2, .data input{ 
					display: inline-block; 
					margin: 0 15px 15px 0;
				}
				.dataNN h2{
					width: 100px;
					padding: 4.5px  0 0 0;
				}
				.dataNN input{
					width: 300px;
					font-size: 25px;
					padding: 4.5px;
					border: 1px solid white;
					border-radius: 30px;
				}
				.dataNN textarea{
					border: 1px solid white;
					border-radius: 30px;
					font-size: 25px;
					padding: 10px;
					margin: 0px; 
					width: 412px; height: 235px; 
				}
				.section{
					width: 295px;
					font-size: 25px;
					font-family: 'Exo', sans-serif;
					border: 1px solid white;
					border-radius: 30px;
					color: black;
					padding: 3px;
				}
		.dataNN2{
				margin: 0;
				padding:0 30px;
				width: 1135px;
				display: inline-block;
				}.dataNN2 textarea{
					border: 1px solid white;
					border-radius: 30px;				
					font-size: 25px;
					padding: 10px;
					margin: 0px; 
					width: 1145px; height: 400px; 
				}
		.dataNN3{
				margin: 0;
				padding:0;
				width: 700px;
				display: inline-block;
				}
				.formOKfn{
					margin: 10px 0px;
				}
				.okfile, .okFotoN{
					width: 70px;
					padding: 3px;
					text-align: center;
					border:none;
					border-radius: 20px;
					font-size: 13pt;		
					font-family: 'Exo', sans-serif;
					background-color: #89C1D4;
					cursor: pointer;
					margin-left:20px; 
				}
					#uploadFile{
						width: 300px;
						padding: 3px;
						border:none;
						border-radius: 20px;
						font-size: 13pt;	
						font-family: 'Exo', sans-serif;	
					}
					.fileUpload {
					    position: relative;
					    overflow: hidden;
					    display: inline;
					}
					.fileUpload input.upload2 {
					    position: absolute;
					    top: 0;
					    right: 0;
					    margin: 0;
					    padding: 0;
					    font-size: 20px;
					    cursor: pointer;
					    opacity: 0;
					    filter: alpha(opacity=0);
					}
				.contFotos{
					width: 700px;
					height: 350px;
					border-radius: 10px;
					overflow-x: auto; 
					}
					.contFotos img, .contFotos video{
						max-width: 200px;
						margin: 10px;
					}



	.btnAcept2{
		position: absolute;
	    top: 920px;
	    left: 47%; 
	    right: 0;
	    bottom: 0;
		height: 30px;
		width: 120px;
		}
		.oknewN{
		height: 33px;
		width: 120px;
		padding: 3px;
		border: 2px solid white;
		border-radius: 20px;
		font-size: 15pt;		
		font-family: 'Exo', sans-serif;
		background-color: #89C1D4;
		cursor: pointer;
	}

/*____________BUSQUEDA_________________________________________________________________*/
	.busquedas{
		position: absolute;
	    top: 310px;
	    left: 0; 
	    right: 0;
	    bottom: 0;
	    height: 975px;
		}
		.laBus{
			margin: 0px auto ;
			display: block;
			width: 1200px;
		    max-height: 970px;
		    border-radius: 20px 0px 0px 20px;
		    overflow:scroll;
		    overflow-x: hidden;
		    background-color: rgba(137,193,212,.5);
			}
		.laBus ul, .laBus li{
			list-style: none;
			text-decoration: none;
			padding-left: 5px;
			}
		.laBus li{
			font-size: 20px;
			margin:  10px;
			border-radius: 20px;
			background-color: rgba(0,0,0,.2);
			}
		.laBus h3, .laBus h4,.laBus h5{
			margin: 15px;
			}
			.imgResulNoti{
				width: 40%;
				}
			.imgResulU{
				height: 70px;
				width: 70px;
				display: block;
				float: left;
				margin-left: 13px;
				margin-right:  13px;
				}
			.NomURes{
					padding-top: 25px;
					padding-bottom: 25px;
					display: block;
					}